body {
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: Georgia;
  color: #888; }

h1 {
  font-size: 2em;
  margin-bottom: 0.75em;
  line-height: 1.25em; }

h2 {
  font-size: 1.75em;
  margin-bottom: 0.75em;
  line-height: 1; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
  color: #000; }

h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  margin: 0 0 1.5em;
  line-height: 150%;
  font-family: Georgia, serif; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

p img.left {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

p img.right {
  float: right;
  margin: 1.5em 0 1.5em 1.5em; }

a {
  text-decoration: none; }

label {
  color: #666; }

blockquote {
  margin: 1.5em;
  font-style: italic; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font-family: "andale mono", "lucida console", monospace;
  line-height: 1.5em; }

li ul, li ol {
  margin: 0 1.5em; }

ul ol {
  margin: 0 1.5em 1.5em 1.5em; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

th {
  font-weight: bold; }

tfoot {
  font-style: italic; }

caption {
  background: #ddd; }

.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

.large {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1.25em; }

.hide {
  display: none; }

.center {
  text-align: center; }

.quiet {
  color: #aaa; }

.loud {
  color: #000; }

.highlight {
  background: #ff0; }

.first {
  margin-left: 0;
  padding-left: 0; }

.last {
  margin-right: 0 !important;
  padding-right: 0; }

.top {
  margin-top: 0;
  padding-top: 0; }

.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

.pright {
  padding-right: 3em; }

.pleft {
  padding-left: 3em; }

.fleft {
  float: left; }

.fright {
  float: right; }

.cramped {
  margin: 0;
  padding: 0; }
