body {
  background-color: #dddddd; }

h2 {
  color: #227ba9;
  font-family: "Helvetica Neue";
  font-weight: 900; }

a {
  text-decoration: none; }

.space {
  display: block;
  height: 1em;
  clear: both; }

.col {
  float: left;
  width: 325px;
  margin-right: 50px; }

.inset {
  padding: 0 25px;
  margin: 0 auto; }

#content {
  background: white; }

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  height: 1px;
  background: none; }

#navigation table {
  margin-top: 45px;
  float: right;
  width: 530px;
  margin-right: 25px; }
  #navigation table td {
    text-align: center;
    width: 80px; }
  #navigation table a {
    color: #666666;
    font-size: 14px;
    border-bottom: 1px dotted #aaaaaa; }
    #navigation table a:hover {
      color: #aaaaaa; }
    #navigation table a.current {
      color: #ff8625; }

.coltable td.one, .coltable td.two {
  width: 350px !important;
  vertical-align: top; }
.coltable td.gutter {
  width: 40px; }

#nav-one {
  text-align: right;
  padding-bottom: 45px;
  padding-top: 4px; }
  #nav-one a {
    background: black;
    color: white;
    padding: 5px 1em; }

#footer {
  padding: 5px 2em;
  background: #eeeeee;
  margin: 0 30px 20px 30px;
  color: #666666; }
  #footer a {
    color: #222222; }

#content {
  position: relative; }

#container {
  margin: 0 auto;
  width: 825px;
  background: white; }
