/* ** RESET ** */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 12px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

*:first-child+html .clearfix {
  zoom: 1; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: 100%; }

/* ** APPLICATION ** */
body, html {
  padding: .5em; }

h2 {
  font-weight: 200;
  color: #888; }

h5 {
  font-weight: 200;
  font-family: Georgia;
  font-style: italic;
  color: #777; }

h4 {
  border: 0;
  font-weight: bold; }

h6 {
  color: #aaa;
  font-size: 11px;
  margin-top: 7px;
  line-height: 12px; }

a {
  text-decoration: none; }

#footer {
  padding-top: 1.5em;
  border-top: 1px dotted #eee;
  color: #aaa; }
  #footer a {
    color: #aaa; }

#content a {
  color: #0E6BDB; }

#navigation, #content {
  padding: 2em; }

#sections {
  list-style-type: none;
  margin: 0; }
  #sections li ul {
    margin: 0 0 1.5em;
    padding: 0;
    list-style-type: none; }
    #sections li ul li {
      font-weight: 400; }
      #sections li ul li a {
        color: #777; }
  #sections a.current {
    background-color: #ffa; }

#content {
  position: relative; }

#container {
  margin: 0 auto;
  width: 825px; }
